# Custom Nano Confs
#include "/usr/local/share/nano/*.nanorc"
extendsyntax python linter flakehell lint
extendsyntax python formatter black
extendsyntax JavaScript formatter npx prettier --write
extendsyntax HTML formatter npx prettier --write
extendsyntax CSS formatter npx prettier --write
extendsyntax yaml formatter npx prettier --write
extendsyntax Markdown formatter npx prettier --write

set autoindent
unset backup
set casesensitive
set historylog
set constantshow
unset morespace
set mouse
set multibuffer
unset noconvert
unset nohelp
unset nonewlines
unset breaklonglines
set regexp
set smarthome
set smooth
set tabsize 4
set tabstospaces
set linenumbers
unset suspend
